extends ../layout

block content   
    a(href='/bikes/create') Create Bike
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Location
            tbody
                each bike in bikes
                    tr  
                        td(scope='row') 
                            = bike.code
                        td= bike.color
                        td= bike.model
                        td= bike.location
                        td
                            a(href= 'bikes/' + bike.id + '/update') Edit                            
                        td
                            form.inline(method='post' action='bikes/' + bike.id + '/delete')
                                input(type='hidden' name='id' value= bike.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Delete'


            